:root {
    /* colors */
    --green: #00897B;
    --pink-light: #FFECE6;
    --pink-dark: #FFCCBB;
    --blue-light: #D2E2FB;
    --blue-dark: #78A5f5;
    --gray-light: #F8F8F8;
    --gray-dark: #707070;

    /* fonts */
    --logo-font-family: 'Rock Salt', cursive;
    --p-font-family: 'Roboto Mono', monospace;
}

.logo {
    font-family: var(--logo-font-family);
    color: var(--green);
}

.nav {
    background-color: var(--gray-light);
}

.p-font {
    font-family: var(--p-font-family);
    color: var(--blue-dark);
}

.section-font {
    font-family: var(--p-font-family);
    color: var(--green);
}

.div-bubble {
    background-color: var(--pink-light);
}